.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.user-input {
  width: 200px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 16px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.btn-add {
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ea6153;
  border: 1px solid #ea6153;
  color: white;
  cursor: pointer;
  float: right;
}

.btn-add:disabled {
  background-color: gray;
  border: 1px solid gray;
  cursor: not-allowed;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

.page-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}
.self-right {
  align-self: right;
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  height: 30px;
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}

.cell {
  padding: 12px 24px;
  display: table-cell;
  font-size: 18px;
  font-weight: 400;
}

.row.header .cell {
  font-weight: 600;
}
